body {
  background-color: #b4daf5; }

header {
  background-color: #398bc5;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .logo {
    width: 15%;
    height: 100%;
    margin: 10px 10px; }
  header h1 {
    color: #ffffff;
    font-family: "Fredoka One", cursive;
    font-size: 3em; }
  header figure {
    text-align: center;
    padding: 1rem; }
    header figure img {
      display: inline-block;
      width: 45%;
      height: 100%; }
    header figure figcaption {
      display: inline-block;
      color: #ffffff;
      margin: 0;
      font-family: "Arvo", serif;
      font-size: 1em; }

.container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto; }
  .container aside {
    background-color: #59a3d7; }
    .container aside ul {
      margin: 1rem auto;
      padding: 0;
      list-style: none; }
      .container aside ul li {
        text-align: center;
        padding: 1rem; }
        .container aside ul li p {
          margin: 0;
          padding: 0;
          color: #ffffff;
          font-family: "Arvo", serif;
          font-size: 1em; }
  .container .graficas {
    background-color: #81bde7;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: center;
    align-content: center;
    justify-items: center; }

#line_top_x {
  padding-top: 5px;
  width: 95%;
  height: 90%;
  grid-column: 1 / span 2; }

#piechart {
  width: 90%;
  height: 90%; }

#donutchart {
  width: 90%;
  height: 90%; }

#top_x_div {
  width: 90%;
  height: 90%; }

#chart_medidores {
  width: 90%;
  height: 90%; }

#chart_areas {
  width: 95%;
  height: 90%;
  grid-column: 1 / span 2; }

footer {
  width: 100%;
  height: 100%;
  background-color: #1971b0;
  color: #ffffff; }
  footer p {
    display: inline-block;
    padding: 10px;
    margin: 0;
    font-family: "Arvo", serif; }
  footer p:nth-child(2) {
    float: right; }

@media screen and (max-width: 768px) {
  header {
    justify-content: center; }
    header .logo {
      display: none; }
    header h1 {
      font-size: 2em; }
    header figure img {
      width: 100%;
      height: 100%; }
    header figure figcaption {
      display: none;
      font-size: 1em; }
  .container {
    width: 100%;
    height: 100%;
    display: inline-block; }
    .container aside {
      display: none; }
    .container .graficas {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .container .graficas div {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; }
  #chart_medidores {
    width: 60%;
    height: 60%; }
  #chart_areas {
    width: 90%;
    height: 90%; }
  #line_top_x {
    width: 90%;
    height: 90%; } }
