/// @author David Rivero Garcia
/// @since 1.0

$MAX_COLUMNS: 4 !default;
$RESPONSIVE_COLUMNS: (
  1024px: 3,
  768px: 2,
  480px: 1,
);
///
///Calcula el numero de columnas que se necesitan
///@param {NUMBER} Columnas numero de columnas que se van a usar
///@return {NUMBER} el numero de columnas
///
@function grid_columns($n) {
  @if ($n > 0) {
  } @else {
  }
}
///
///Establece el ancho de las imagenes en segun el numero de columnas que debe haber
///@param {NUMBER} Columnas numero de columnas que se van a usar
///
@mixin resize($n) {
  .gallery img {
    width: calc(100% / $n);
  }
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

.gallery {
  display: flex;
  background-color: #000;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

@include resize($MAX_COLUMNS);

@each $size, $value in $RESPONSIVE_COLUMNS {
/*Adaptacion para saber en que ancho se encuentra el ancho y numero de columnas que se van a usar*/
  @media screen and (max-width: $size) {
    @include resize($value);
  }
}
