/// @author David Rivero Garcia
/// @since 1.0

$grid-width: 100rem;
$vertical: 4rem;
$horizontal: 4rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10pt;
}

///
///Calcula ancho de las celdas las cuales son divididas en 4
///@return {NUMBER} devuelve el calculo para el ancho de las celdas divididas en 4
///
@function sumof4() {
  $result: calc(3 * ((100% - 3 * #{$horizontal}) / 4)) $return $result;
}
///
///Calcula ancho de las celdas las cuales son divididas en 3
///@return {NUMBER} devuelve el calculo para el ancho de las celdas divididas en 3
///
@function sumof3() {
  $result: calc((100% - 2 * #{$horizontal}) / 3) $return $result;
}

///
///Calcula ancho de las celdas las cuales son divididas en 2
///@return {NUMBER} Ancho de las celdas divididas en 2
///
@function sumof2() {
  $result: calc((100% - #{$horizontal}) / 2) $return $result;
}

.row {
  max-width: $grid-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $vertical;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  [class^="col-"] {
    float: left;
    background-color: orange;
    padding: 1rem;
    &:not(:last-child) {
      margin-right: $horizontal;
    }
  }

  .col-1-of-2 {
    width: sumof2;
  }

  .col-1-of-3 {
    width: sumof3;
  }

  .col-2-of-3 {
    width: calc(2 * sumof3) + #{$horizontal};
  }

  .col-1-of-4 {
    width: sumof4;
  }

  .col-2-of-4 {
    width: calc(sumof4 + #{$horizontal});
  }

  .col-3-of-4 {
    width: calc(sumof4+ 2 * #{$horizontal});
  }
}
