@import "base.scss";
@import "components.scss";
body {
  @include backColor($color2);
}

header {
  background-color: $color4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    @include size(15%, 100%);
    margin: 10px 10px;
  }
  h1 {
    color: $white;
    font-family: "Fredoka One", cursive;
    font-size: 3rem;
  }
  figure {
    text-align: center;
    padding: 1rem;
    img {
      display: inline-block;
    }
    figcaption {
      display: inline-block;
      color: $white;
      margin: 0;
      font-family: 'Arvo', serif;

    }
  }
}

.container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto;
  aside {
    background-color: $color1;
    ul {
      margin: 1rem auto;
      padding: 0;
      list-style: none;
      li {
        text-align: center;
        padding: 1rem;
      }
    }
  }

  .graficas {
    @include backColor($color3);
    @include size(100%, 100%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content:center;
    align-content: center;
    justify-items: center;

  }
}
#line_top_x {
  @include size(90%, 90%);
  grid-column: 1 / span 2;
}
#piechart {
  @include size(90%, 90%);
}
#donutchart{
  @include size(90%, 90%);

}
#top_x_div{
  @include size(90%, 90%);

}
#chart_medidores{
  @include size(90%, 90%);

}
#chart_areas {
  @include size(90%, 90%);
  grid-column: 1 / span 2;
}

footer {
  @include size(100%, 100%);
  @include backColor($color5);
  text-align: center;
  color: $white;
  p {
    padding: 10px;
    margin: 0;
    font-family: 'Arvo', serif;
  }
}


@media screen and (max-width: 568px) {
  .container{
    @include size(100%, 100%);
    display:inline-block;
    aside{
      display:none;
    }
  .graficas{
    @include size(100%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    div{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  }
  #chart_medidores{
    @include size(60%, 60%);
  }

}
